<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Configuración
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>Titulo</h1>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, exercitationem aut laudantium, eos unde numquam nisi accusantium id est quos impedit quis suscipit vero illo ipsam, iure obcaecati sint maxime modi eius eum minima blanditiis? Architecto omnis natus, ut obcaecati vel sit voluptatibus, quis quae qui, at ex eius provident.</p>
  <ion-list>
    <ion-item>
      <ion-toggle>Negritas</ion-toggle>
    </ion-item>

    <ion-item>
      <ion-range labelPlacement="stacked" [ticks]="true" [snaps]="true"  label="Tamaño texto" [min]="8" [max]="22"></ion-range>

    </ion-item>
    
  </ion-list>
</ion-content>
