<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Mascotas" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Nueva mascota</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>Tienes {{mascotasSrv.mascotas.length}} mascotas</h1>
  <ion-list>
    <ion-item>
      <ion-input [(ngModel)]="nombre" label="Nombre" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="foto" label="Foto" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-select [(ngModel)]="tipo" label="tipo">
        <ion-select-option value="Perro">Perro</ion-select-option>
        <ion-select-option value="Gato">Gato</ion-select-option>
      </ion-select>
    </ion-item>

  </ion-list>
  <ion-button expand="block" (click)="crear()">Crear</ion-button>
</ion-content>
